@import "../../../variable.scss";

.directory-search-filters--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  margin: 0 1rem;
  @include media(medium) {
  }
}
